*{
    margin: 0;
    padding: 0;
}

/* ROOT */

a{
    text-decoration: none;
    color: white;
    font-size: 40px;

    background: #03254E;
    border-radius: 15px;
    border: 2px solid white;

    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    padding: 10px 10px;
}
html{
    scroll-behavior: smooth;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin: 50px auto;

    flex-wrap: wrap;
}
a:hover{
    background: rgb(255, 255, 255);
    color: black;
    padding: 20px 20px;
}
a span{
    margin-left: 10px;
}
body{
    background: #080616;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100vh;

}
h1{
    text-align: center;
    font-size: 150px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
}
.text{
    text-align: center;
    padding: 0 300px;
    font-size: 30px;
}



/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;
}
nav .left{
    font-size: 50px;
}
nav .left span{
    color: rgb(255, 145, 0);
    margin-left: 5px;
}
nav .right a{
    padding: 5px 10px;
    font-size: 30px;
    margin-right: 20px;
}
nav .right a:hover{
    padding: 10px 10px;
}
nav a{
    background: rgba(255, 255, 255, 0);
}



/* HOMEPAGE */

.homepage{
    padding-bottom: 200px;
}


/* SUPPORT */

.support{
    padding-bottom: 300px;
}
.support h1{
    font-size: 60px;
}
.support .text{
    font-size: 30px;
}
.support a{
    background: rgba(255, 255, 255, 0);
}
.support a:hover{
    background: white;
}


/* ABOUT */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 200px;
}
.about h1{
    font-size: 60px;
    text-align: left;
    display: block;
}
.about .text{
    padding-left: 100px;
    text-align: left;
    width: 100%;

}
.about img{
    display: flex;
    padding-right: 100px;
    width: 200px;
    object-fit: contain;

    transform: translateY(100px);
}


/* SOURCE CODE */

.source-code{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 60px;

    padding-bottom: 200px;
}
.source-code h1{
    font-size: 60px;
    text-align: right;
    display: block;
}
.source-code .text{
    padding-left: 100px;
    text-align: right;
}
.source-code img{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    width: 200px;
    object-fit: contain;

    transform: translateY(100px);
    
}


/* RESPONSIVENESS */

@media (max-width: 1047px){
    .about .text{
        font-size: 25px;
    }
    .source-code .text h1{
        text-align: center;
        font-size: 40px;
    }
        .source-code .text {
        font-size: 25px;
        text-align: center;
    }
}
@media (max-width: 930px){
    .homepage .text{
        font-size: 25px;
        padding: 0 50px;
    }
    .homepage h1{
        font-size: 80px;
    }
    .support .text{
        padding: 0 50px;
    }
    .about .text{
        padding: 0 50px;
    }
    .source-code .text{
        padding: 0 50px;
    }
}
@media (max-width: 701px){
    .souce-code .text{
        padding: 0;
    }
}
@media (max-width: 654px){
    .source-code .text{
        padding: 0;
    }
    .source-code img{
        display: none;
    }
    .about .text{
        padding-left: 20px;
        font-size: 20px;
    }
}
@media (max-width: 616px){
    nav .right a{
        font-size: 25px;
    }
    .about img{
        display: none;
    }
    .source-code .text{
        padding: 0 100px;
    }
}
@media (max-width: 590px){
    .about img{
        display: none;
    }
    .source-code .text{
        padding: 100px;
    }
    nav .left{
        display: none;
    }
    nav{
        justify-content: flex-end;
    }

    nav .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    nav .right a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 30px;
    }
}
@media (max-width: 457px){
    .homepage h1{
        font-size: 70px;
    }
    .source-code .text{
        padding: 0 20px;
    }
}
@media (max-width: 402px){
    .homepage .text{
        padding: 0 10px;
    }
    .homepage h1{
        font-size: 60px;
    }
    .source-code .text{
        padding: 0 5px;
    }
}
@media (max-width: 340px){
    .homepage h1{
        padding: 0 100px;
        font-size: 50px;
    }
    .homepage .text{
        font-size: 20px;
    }
    .homepage .buttons a{
        font-size: 25px;
    }
    .support h1{
        font-size: 50px;
    }
    .support .text{
        font-size: 20px;
    }
    .support .buttons a{
        font-size: 20px;
    }
}